/*  your css code here. If applicable */
.Main-Container{
	background-color: #f5f5f5;
	padding: 20px 15px;
}
.Testimonial{
	border: #e8e8e9;
	background-color: white;
	padding: 5px 5px 5px 20px;
}
.text{
	font-weight: normal;
}
.author{
	font-style: italic;
	text-align: right;
}